<nav>
    <div class="site-title">
        <a href="/"><h1>Abdullah Shahzad</h1></a>
        <p>A REST API</p>
    </div>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blogs/create">Create New</a></li>
    </ul>
</nav>